/* Ensure you have a background image in the specified path */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
